html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin du reset */
body{
	background-image: url("../img/fond.jpeg");
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
}

h1{
	font-size: 30px;
	color: white;
}

p{
	color: white;
}

img{
	width: 72px;
}

#flexbox {
	margin-top : 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	height: 420px;
}

#forgotten{
	text-decoration: none;
	color: white;
	font-style: italic;
}

#logout{
	width: 40px;
	float: right;
	margin: 15px 15px 15px 0;
}

#datepicker, #timepicker{
	border-radius: 15px;
	width: 100px;
	height: 30px;
	opacity: 0.6;
	text-align: center;
}

#total, #km, #cv{
	border-radius: 15px;
	width: 100px;
	height: 30px;
	opacity: 0.8;
	text-align: center;
}

#radio{
	color: white;
}

#flexbox1 {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	height: 600px;
}

#profile{
	margin: 15px 0 15px 15px;
	border: 1px solid black;
	border-radius: 120%;
}

#logo{
	margin-left: 200px;
}

.element{
	width: 250px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	opacity: 0.6;
}

.submit {
	display: block;

	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	border-radius: 15px;
	width: 250px;
	height: 35px;
	background: white;
	opacity: 0.8;
}
span{
	width: 250px;
	height: 35px;
  display: table-cell;
  vertical-align: middle;
	text-align: center;
}
